<h2>Italok</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#operationModal" (click)="setMode()">
  Hozzáad
</button>

<table class="table table-striped table-info">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ital</th>
            <th>Mennyiség</th>
            <th>Ár</th>
            <th>Típus</th>
            <th>Csomagolás</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(drink of drinks; track drink.id) {
            <tr>
                <td>{{drink.id}}</td>
                <td>{{drink.drink}}</td>
                <td>{{drink.amount}}</td>
                <td>{{drink.price}}</td>
                <td>{{drink.type}}</td>
                <td>{{drink.package}}</td>
                <td>
                    <button class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#operationModal" (click)="edit(drink)">Módosít</button>
                    <button class="btn btn-warning me-2" (click)="delete(drink.id)">Töröl</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="operationModal" tabindex="-1" aria-labelledby="operationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="operationModalLabel">
            @if(addMode) { 
                Hozzáadás 
            }@else { 
                Módosítás
            }
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="drinkForm" (ngSubmit)="save()" id="drinkForm">

            @if(!addMode) {
                <div class="input mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" id="id" formControlName="id" class="form-control" readonly>
                </div>

            }
            <div class="input mb-3">
                <label for="drink" class="form-label">Ital</label>
                <input type="text" id="drink" formControlName="drink" class="form-control">
            </div>
            <div class="input mb-3">
                <label for="amount" class="form-label">Mennyiség</label>
                <input type="text" id="amount" formControlName="amount" class="form-control">
            </div>
            <div class="input mb-3">
                <label for="price" class="form-label">Ár</label>
                <input type="text" id="price" formControlName="price" class="form-control">
            </div>

            <!-- <div class="input mb-3">
                <label for="type" class="form-label">Típus</label>
                <input type="text" id="type" formControlName="type" class="form-control">
            </div> -->

            <div class="input mb-3">
                <label for="type" class="form-label">Típus</label>
                <select id="type" formControlName="type" class="form-select">
                    @for(type of types; track type.id) {
                        <option [value]="type.type">{{type.type}}</option>
                    }
                </select>
            </div>

            <!-- <div class="input mb-3">
                <label for="package" class="form-label">Csomagolás</label>
                <input type="text" id="package" formControlName="package" class="form-control">
            </div> -->

            <div class="input mb-3">
                <label for="package" class="form-label">Csomagolás</label>
                <select id="package" formControlName="package" class="form-select">
                    @for(package of packages; track package.id) {
                        <option [value]="package.package">{{package.package}}</option>
                    }
                </select>
            </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="drinkForm">Ment</button>
      </div>
    </div>
  </div>
</div>